#ac_contenedor{
	padding: 10px;
	width: 450px;
	height: 260px;
}

.ui-menu{
	width: 200px;
}

#ui-barra-determ{
	position: relative;
}

#texto_barra{
	position: absolute;
	left: 50%;
	top: 50px;
	font-weight: bold;
}

.ui-datepicker-title{
	color: #000;
}

.ui-datepicker-header{
	background: #CCC;
}

select, #rango{
	width: 250px;
}