#dw_Arrastrar{
	position: absolute;
	top: 45%;
	left: 55%;
	width: 100px;
	height: 100px;
	margin-left: -200px;
	margin-top: -150px;
	border: 1px solid #808080;
	padding: 5px;
}

#dw_ArrastrarCursor{
	position: absolute;
	top: 70%;
	left: 75%;
	width: 50px;
	height: 50px;
	margin-left: -200px;
	margin-top: -150px;
	border: 1px solid #808080;
	padding: 10px;
	background-color: red;
}

#dw_Arrastrar3A{
	position: absolute;
	top: 95%;
	left: 75%;
	width: 50px;
	height: 50px;
	margin-left: -200px;
	margin-top: -150px;
	border: 1px solid #808080;
	padding: 10px;
	background-color: #FF9D3A;
}

#dw_Arrastrar3B{
	position: absolute;
	top: 95%;
	left: 75%;
	width: 50px;
	height: 50px;
	margin-left: -200px;
	margin-top: -150px;
	border: 1px solid #808080;
	padding: 10px;
	background-color: #3AFF5E;
}

#dwp_posicion{
	position: absolute;
	top: 120%;
	left: 85%;
	width: 50px;
	height: 50px;
	margin-left: -200px;
	margin-top: -150px;
	border: 1px solid #808080;
	padding: 10px;
	background-color: #FF473A;
}


#dp_soltar{
	position: absolute;
	top: 150%;
	left: 80%;
	width: 50px;
	height: 50px;
	margin-left: -200px;
	margin-top: -150px;
	border: 1px solid #808080;
	padding: 10px;
	background-color: #FF473A;
}

#dp_arrastrar{
	position: absolute;
	top: 150%;
	left: 40%;
	width: 50px;
	height: 50px;
	margin: 10px 10px 10px 10px;
	border-radius: 50px;
	margin-left: -200px;
	margin-top: -150px;
	border: 1px solid #808080;
	padding: 10px;
	background-color: #FF473A;
}

.dr_miEstilo {
	width: 100px;
	height: 100px;

}	

#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 60%; 
}
#sortable li { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	font-size: 1.4em; 
	height: 18px; 
}
#sortable li span { 
	position: absolute; 
	margin-left: -1.3em; 
}

#SelectableSortable li { 
	margin: 3px 3px 3px 0; 
	padding: 1px; 
	float: left; 
	width: 100px; 
	height: 90px; 
	font-size: 4em; 
	text-align: center; 
}

#feedback { 
	font-size: 1.4em; 
}
#SelectableSortable .ui-selecting { 
	background: #FECA40; 
}
#SelectableSortable .ui-selected { 
	background: #F39814; 
	color: white; 
}
#SelectableSortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 450px; 
}